<a href="https://colab.research.google.com/github/hasiburrahman1/NLP/blob/master/dataset_pre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import os
import re
import matplotlib.pyplot as plt
import xml.etree.ElementTree as et 
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, GRU, LSTM, Bidirectional
from keras.layers.embeddings import Embedding
from keras.initializers import Constant
from keras.callbacks import ModelCheckpoint
from keras.models import load_model

In [ ]:
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.model_selection import train_test_split
import tensorflow as tf
import collections
import unicodedata
import re
import numpy as np
import os
import io
import time
import xlrd
import csv

In [ ]:
import numpy as np 
import pandas as pd 
import os
import re
import matplotlib.pyplot as plt
import xml.etree.ElementTree as et 
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, SimpleRNN, GRU, LSTM, Bidirectional, Dropout, Input, Conv2D, MaxPool2D
from keras.layers.embeddings import Embedding
from keras.initializers import Constant
from keras.callbacks import ModelCheckpoint
from keras.models import load_model
from keras.layers import Reshape, Flatten, Dropout, Concatenate
from keras.optimizers import Adam
from keras.models import Model
from keras.layers.convolutional import Conv1D
from keras.layers import Conv1D, Dense, MaxPool1D, Flatten, Input, GlobalMaxPooling1D

In [ ]:
import os
import csv
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h1> dataset 1 <h1>

In [ ]:
xtree = et.parse("/content/drive/My Drive/Colab Notebooks/MedQuAD_3_GHR_QA/joined.xml")
xroot = xtree.getroot()
lst = xroot.findall('QAPairs/QAPair')
data1 = []
data2 = []
data3 = []
print(len(lst))
#print(lst)
print("\n")

for item in lst:
    for x in item:
         if x.get('qtype') != None:
            qtype = x.get('qtype')
            data1.append(qtype)
    Question = item.find('Question').text
    data2.append(Question)
    Answer = item.find('Answer').text
    data3.append(Answer)

5430

In [ ]:
df = pd.DataFrame(list(zip(data2, data3)), 
               columns =['Question', 'Answer']) 

print(len(df)) 
df

5430

                                               Question                                             Answer
0                What is (are) Aarskog-Scott syndrome ?  Aarskog-Scott syndrome is a genetic disorder t...
1     How many people are affected by Aarskog-Scott ...  Aarskog-Scott syndrome is believed to be a rar...
2     What are the genetic changes related to Aarsko...  Mutations in the FGD1 gene cause some cases of...
3                 Is Aarskog-Scott syndrome inherited ?  Aarskog-Scott syndrome is inherited in an X-li...
4     What are the treatments for Aarskog-Scott synd...  These resources address the diagnosis or manag...
...                                                 ...                                                ...
5425               What is (are) 9q22.3 microdeletion ?  9q22.3 microdeletion is a chromosomal change i...
5426  How many people are affected by 9q22.3 microde...  9q22.3 microdeletion appears to be a rare chro...
5427  What are the genetic changes related to 9q22.3...  People with a 9q22.3 microdeletion are missing...
5428                Is 9q22.3 microdeletion inherited ?  9q22.3 microdeletions are inherited in an auto...
5429  What are the treatments for 9q22.3 microdeleti...  These resources address the diagnosis or manag...

[5430 rows x 2 columns]

In [ ]:
df['QA'] = df[['Question', 'Answer']].astype(str).apply('\t'.join, axis=1)

df.drop(df.columns[[0,1]], axis = 1, inplace = True)

In [ ]:
#df.to_csv(r'dataset_qa.txt', header=None, index=None, sep=' ', mode='a')

In [ ]:
df

                                                     QA
0     What is (are) Aarskog-Scott syndrome ?\tAarsko...
1     How many people are affected by Aarskog-Scott ...
2     What are the genetic changes related to Aarsko...
3     Is Aarskog-Scott syndrome inherited ?\tAarskog...
4     What are the treatments for Aarskog-Scott synd...
...                                                 ...
5425  What is (are) 9q22.3 microdeletion ?\t9q22.3 m...
5426  How many people are affected by 9q22.3 microde...
5427  What are the genetic changes related to 9q22.3...
5428  Is 9q22.3 microdeletion inherited ?\t9q22.3 mi...
5429  What are the treatments for 9q22.3 microdeleti...

[5430 rows x 1 columns]

<h1>dataset 2<h1>

In [ ]:
import tensorflow as tf

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [ ]:
df = pd.read_csv(r"/content/drive/My Drive/Colab Notebooks/bioasq_manual_100/test.tsv",sep='\t',encoding = "ISO-8859-1")

In [ ]:
print("Number of rows in data =",df.shape[0])
print("Number of columns in data =",df.shape[1])

Number of rows in data = 9064
Number of columns in data = 3

In [ ]:
df.head()

   label  ...                                   answer_candidate
0      0  ...  Genome-wide identification and predictive mode...
1      0  ...  As expected we found lincRNAs to be present in...
2      0  ...  Functional relevance of lincRNAs was further e...
3      0  ...  To date the mechanism of lincRNAs polyadenylat...
4      0  ...  The functional impact of several long intergen...

[5 rows x 3 columns]

In [ ]:
df.drop(df.columns[[0]], axis = 1, inplace = True)

In [ ]:
df = df.drop_duplicates(subset='question')

In [ ]:
print("Number of rows in data =",df.shape[0])
print("Number of columns in data =",df.shape[1])

Number of rows in data = 100
Number of columns in data = 2

In [ ]:
df['QA'] = df[['question', 'answer_candidate']].astype(str).apply('\t'.join, axis=1)
df.drop(df.columns[[0,1]], axis = 1, inplace = True)

In [ ]:
#df.to_csv(r'QA_complex_type.txt', header=None, index=None, sep=' ', mode='a')

In [ ]:
df

                                                     QA
0     Do lincRNAs play a role in human cancer?\tGeno...
100   What is the usefulness of ultraconserved eleme...
200   Which proteins act as histone-like molecules i...
300   What is Tn-seq?\tTn-seq is a technique that al...
307   How many different mutations have been associa...
...                                                 ...
8564  Which proteins have been identified as RET lig...
8664  Which fusion protein is involved in the develo...
8764  What is the molecular pathogenesis of Spinal M...
8864  What is the role of TRH in hypertension?\tAs w...
8964  What is the method FASP used for?\tWe conclude...

[100 rows x 1 columns]